{% extends 'base.html' %}{% load static %} 



{% block content %}
<div class="text-center about" style="background-color: rgba(0, 0, 0, 0.7); ">
    <div class="main-head">
        Neural Networks to Predict Stress.
    </div>

    <div class="sub-head">
        A Virtual Assitant
    </div>

    <br>
        
    <div class="wrapper">
    
        <div class="container box2">
            
            We live in a world where neural networks have achieved superhuman accuracy in almost every field. 
            It has brought a revolution and I believe it is just the start.

            <br>
            
            I have seen my friends and even me falling victim to stress, especially in an online world. 
            However, we usually dont have time to see a doc. Thus I designed a Neural Network to classify stress level of a person. 
            So, that if anything serious is brewing it can be nipped in the bud. 
            
            If successfull this will also make us aware of ourselves in a different way. Also we will get to know the very nature of stress.
            And probably come up with ways to prevent it.
            
            <br>

            If you liked this project consider staring or forking the <a href="https://github.com/sa-y-an/retro"> Repo</a>
            
            <br>

            <ul>
                <li>
                    DataSet - <a href="https://archive.ics.uci.edu/ml/datasets/WESAD+%28Wearable+Stress+and+Affect+Detection%29">
                        WESAD </a>
                </li>
                <li>
                    Tech Stack - Django + Tensorflow
                </li>
            </ul>

            For collaboration you can also visit me on the socials below. 
            Thanks for visiting and have a great day !


        </div>

        

        <div class="card bg-dark bg-gradient" style="width: 18rem;">
            <img src="https://avatars.githubusercontent.com/u/55195504?v=4" class="card-img-top" alt="Sayan Mondal">
            <div class="card-body">
              <h5 class="card-title">Sayan Mondal </h5>
              <p class="card-text">EE Undergrad <a href="http://nitdgp.ac.in/"> @NITDgp</a> 
                <br/> 
                AI Researcher. Developer</p>
              <a href="https://github.com/sa-y-an/" class="btn btn-secondary">Github</a>
              <a href="https://www.linkedin.com/in/sa-y-an/" class="btn btn-secondary">LinkedIn</a>
            </div>
        </div>

    </div>
        

</div>

{% endblock %}