{% extends 'base.html' %}{% load static %} 


{% block content %}

<div class="container">

    <div class="main-head">
        EDA Data 
    </div>

    <br/>


    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
    
                <input type="file" name="myfile" class="btn btn-secondary" />
                <input type="submit" name="submit" value="Upload"  class="btn btn-secondary"/>
    
            </div>
        </form>

    </div>
    

    {% if score %}
        <div class="sub-head">
            Yout last Submission {{path }} was sucessfull
        </div>
           
       
        Here are the results - 

        <table class="table table-dark table-striped">
            
            <thead>
                <tr>
                  <th scope="col">Excitation Type</th>
                  <th scope="col">Percentage</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{ class }}</th>
                  <td>{{ score }}</td>
                </tr>
                </tbody> 
        </table>


    {% else %}

        <p>
            Input the Files
        </p>

    {% endif %}
    
</div>

{% endblock %}
