{% extends 'base.html' %}{% load static %} 


{% block content %}


    <div class="text-white">
        <div class="jumbotron">
            
                <div class="main-head text-center">
                    Know Your Stress Level 
                </div>
    
                <div class="sub-head">
                    Get help in advance 
                </div>
                <br>

    
                <div class="box text-center">
                    Do you know 77 percent of people experience stress that affects their physical health.
                    73 percent of people have stress that impacts their mental health.
                    If left unchecked this can have severe consequences.
                    <br>
                    Click the button below to know more.
                </div>

                <br/>

                <button class="btn btn-secondary">
                    Stress Check
                </button>

         
            
        </div>
        
    </div>



{% endblock %}
